<section id="banniere" class="container-fluid d-flex justify-content-center align-items-center">
	<div class="row">
		<div class="col-sm-12 d-flex flex-column justify-content-center align-items-center">
			<img class="logo-text" src="logos/{{ general.logoText }}">
            <h3>{{ general.phraseTitre }}</h3>
		</div>
        <div class="logo">
            <img src="logos/{{ general.logo }}">
        </div>
	</div>
</section>
