<section id="banniere" class="container-fluid d-flex justify-content-center align-items-center">
	<div class="row">
		<div class="col-sm-12 d-flex justify-content-center align-items-center">
			<img src="logos/logo_text2.png">
		</div>
	</div>
</section>
