<div class="container-fluid">
<div class="row">
    {% for prestation in prestations %}
        <div class="carte-presentation col-lg-3">
            <h2>{{ prestation.titre }}</h2>
            <hr>
            {# <p>{{ prestation.categorie }}</p> #}
            <p>{{ prestation.contenu1 }}</p>
            <p>{{ prestation.contenu2 }}</p>
        </div>
    {% endfor %}
</div>
</div>