{% extends 'base.html.twig' %}

{% block title %}La Belle Oreille | Prestations{% endblock %}

{% block body %}
<section id="prestations">
    {% include 'prestation/bannierePrestations.html.twig' %}
    {% include 'prestation/cartesPrestations.html.twig' %}
</section>
{% endblock %}
